<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>MN Discipline Data</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>

  <!-- Navbar -->
  <nav>
    <ul class="nav justify-content-left">
      <li class="nav-item">
        <a class="nav-link active" href="/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/data">Data</a>
      </li>
    </ul>
  </nav>

<body>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About</h1>
    </div>
  </div>

  <div class="container pt-3">
    <div class="row row-even" id="myrows">
      <div class="col-md-12">
        <p>The MN School Districts Discipline Data project visualizes the data associated with each school district's disciplinary incidents recorded in the state of Minnesota. School years included are 14-15, 15-16, 16-17, and 18-19.  Minnesota public school districts self-report student disciplinary data through Minnesota Department of Education's electronic disciplinary incident reporting system (DIRS). The data summarize the disciplinary incidents as well as student demographic data (grade, gender, race/ethnicity) for disciplinary actions. A disciplinary action is defined as an out of school suspension for one day or more, expulsion or exclusion.</p>
        <br>
        <p>Our dashboard allows this data to be analyzed by each district via a map of Minnesota with each school district outlined.  Our charts shows the trends of enrollment vs. incidents over time as well as the number of incidents by gender, grade and race.  Total enrollment for each district is included in our charts to give the break down of each category context.</p>
      </div>
      <br>
      <div class="col-md-12">
        <p><b>Resources</b></p>
      <div class="col-md-12"></div>
        <p>Coding for legend uses Leaflet.Legend plugin developed by GitHub user "ptma" and distributed under MIT License (link to copyright notice - <a href="https://github.com/ptma/Leaflet.Legend/blob/master/LICENSE" target="_blank">https://github.com/ptma/Leaflet.Legend/blob/master/LICENSE)</a></p>
      </div>
    </div>
  </div>

  <div id="footer">
   <p><a href="https://github.com/rabscuttle/group-project-2" target="_blank">MN School Districts Discipline Data Project GitHub Repo</a></p>
  </div>

</body>
</html>